<%= form_for(@faktura) do |f| %>
  <% if @faktura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faktura.errors.count, "error") %> prohibited this faktura from being saved:</h2>

      <ul>
      <% @faktura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :tytul %><br>
    <%= f.text_field :tytul %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :wyslana %><br>
    <%= f.check_box :wyslana %>
  </div>
  <div class="field">
    <%= f.label :klient_id %><br>
    <%= f.text_field :klient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
