<%= form_for(@klient) do |f| %>
  <% if @klient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klient.errors.count, "error") %> prohibited this klient from being saved:</h2>

      <ul>
      <% @klient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imie %><br>
    <%= f.text_field :imie %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br>
    <%= f.text_field :nazwisko %>
  </div>
  <div class="field">
    <%= f.label :kid %><br>
    <%= f.text_field :kid %>
  </div>
  <div class="field">
    <%= f.label :blad %><br>
    <%= f.check_box :blad %>
  </div>
  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
