<%= form_for @klient, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :imie, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :imie, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nazwisko, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nazwisko, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kid, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :kid, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blad, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :blad, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :id, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  klients_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
